.ordem-compra{
    margin-top: 100px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

select.ng-invalid.ng-dirty{
    border: 1px solid red;
}

input.ng-valid.ng-dirty{
    border: 1px solid green;
}

select.ng-valid.ng-dirty{
    border: 1px solid green;
}